CNPJ_API_HTTP_ADDRESS=:8080
CNPJ_API_SHUTDOWN_TIMEOUT=10s

CNPJ_API_MYSQL_HOST=127.0.0.1
CNPJ_API_MYSQL_PORT=3306
CNPJ_API_MYSQL_DATABASE=cnpj_2026_08_001
CNPJ_API_MYSQL_USER=cnpj_api
CNPJ_API_MYSQL_PASSWORD=change-me
CNPJ_API_MYSQL_CONNECT_TIMEOUT=5s
